<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="assets/logo.png" alt="School Logo" height="40"> <!-- Ajustez la hauteur selon vos besoins -->
       Web School
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <!-- Non-authenticated Links -->

        <!-- Non-authenticated Dropdown Links -->
        <ng-container *ngIf="!isAuthentificated">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownOurSchool"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Our School
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownOurSchool">
              <li><a class="dropdown-item" href="/our-school">About Us</a></li>
              <li>
                <a class="dropdown-item" href="/our-school/history">History</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownRegister"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Register
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownRegister">
              <li><a class="dropdown-item" href="/register">Sign Up</a></li>
              <li>
                <a class="dropdown-item" href="/register/info"
                  >How to Register</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownOption"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Option
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownOption">
              <li><a class="dropdown-item" href="#">Game Development Track</a></li>
              <li><a class="dropdown-item" href="#">Cybersecurity Essentials</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownPracticeInfo"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Practice Info
            </a>
            <ul
              class="dropdown-menu"
              aria-labelledby="navbarDropdownPracticeInfo"
            >
              <li>
                <a class="dropdown-item" href="#">Schedule</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Library</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Rules</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownIntranet"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Intranet
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownIntranet">
              <li><a class="dropdown-item" href="/login">Teacher</a></li>
              <li>
                <a class="dropdown-item" href="/login">Student</a>
              </li>
            </ul>
          </li>
        </ng-container>

        <!-- Admin Dropdowns -->
        <ng-container *ngIf="userRole === 'admin'">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuUser"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Users
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuUser">
              <li><a class="dropdown-item" href="/user-add">Create</a></li>
              <li><a class="dropdown-item" href="/user-table">Get</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuCourse"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Course
            </a>
            <ul
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuCourse"
            >
              <li><a class="dropdown-item" href="/course-add">Create</a></li>
              <li>
                <a class="dropdown-item" href="/course-table">Courses List</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuCourse"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Student
            </a>
            <ul
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuCourse"
            >
              <li><a class="dropdown-item" href="/student-add">Create</a></li>
              <li><a class="dropdown-item" href="/student-table">List</a></li>
            </ul>
          </li>
        </ng-container>

        <!-- Teacher Dropdown -->
        <ng-container *ngIf="userRole === 'teacher'">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuTeacher"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Course
            </a>
            <ul
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuTeacher"
            >
              <li><a class="dropdown-item" href="/my-course">My Course</a></li>
              <li>
                <a class="dropdown-item" href="/my-student">My Student</a>
              </li>
            </ul>
          </li>
        </ng-container>

        <!-- Student Links -->
        <ng-container *ngIf="userRole === 'student'">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          <li class="nav-item">
            <a class="nav-link" href="#">My Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Schedule</a>
        </ng-container>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!isAuthentificated">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isAuthentificated">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
