<!-- course-details.component.html -->
<div class="course-details">
  <h2 class="title">Course Details</h2>
  <table class="table table-hover">
    <tr>
      <th>Course ID:</th>
      <td>{{ courseDetails?.courseId }}</td>
    </tr>
    <tr>
      <th>Course Name:</th>
      <td>{{ courseDetails?.courseName }}</td>
    </tr>
    <tr>
      <th>Description:</th>
      <td>{{ courseDetails?.courseDescription }}</td>
    </tr>
  </table>

  <div class="teachers">
    <h3>Instructors</h3>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Instructor's Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers">
          <td>{{ teacher?.teacherName }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="students">
    <h3>Students</h3>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Student's Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.userName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
