.col-course-desc {
    max-width: 10%; /* Limiting the width of the course description */
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  
  .action-button {
    margin-right: 10px !important;
    border-radius: 5px !important;
    background-color: white !important;
    border: 2px solid rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0) !important;
    padding: 5px 10px !important;
  }
  
 
  