

.table th button {
  background: none;
  border: none;
  color: #7a23d2;
  cursor: pointer;
  margin-left: 5px; /* Ensures a small gap between the text and the button */
}

.table th button:hover {
  text-decoration: underline;
}

/* Column specific adjustments for better alignment and overflow management */
.col-course-name, .col-teacher {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.action-button {
  background-color: #7a23d2;
  color: white;
  border: white solid 1px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #7a23d2;
}
