
<table class="table table-striped">
	<thead>
	  <tr>
		<th scope="col">#</th>
		<th scope="col">Course Name</th>
		<th scope="col">Course Description</th>
		<th scope="col">Teacher</th>
		<th scope="col">Actions</th>
	  </tr>
	</thead>
	<tbody>
	  <tr *ngFor="let course of courses; let i = index">
		<td>{{ i + 1 }}</td>
		<td>{{ course.courseName }}</td>
		<td>{{ course.courseDescription }}</td>
		<td>{{ course.teacherName }}</td>
		<td>
		  <button (click)="edit(course.courseId)">Edit</button>
		  <button (click)="viewCourseDetails(course.courseId)">Info</button>

		<button (click)="delete(course.courseId, i)">Delete</button> 
	  </tr>
	</tbody>
  </table>
  