<body>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
                            <h3 class="text-center">Change Password</h3>
                            <div class="form-group">
                                <label for="userName">Username</label>
                                <input type="text" formControlName="userName" class="form-control" placeholder="Enter username"/>
                                <small *ngIf="changePasswordForm.get('userName').invalid && 
                                    (changePasswordForm.get('userName').dirty || changePasswordForm.get('userName').touched)">
                                    <div *ngIf="changePasswordForm.get('userName').errors?.['required']">Username is required.</div>
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="oldPassword">Old Password</label>
                                <input type="password" formControlName="oldPassword" class="form-control" placeholder="Enter old password"/>
                                <small *ngIf="changePasswordForm.get('oldPassword').invalid && 
                                    (changePasswordForm.get('oldPassword').dirty || changePasswordForm.get('oldPassword').touched)">
                                    <div *ngIf="changePasswordForm.get('oldPassword').errors?.['required']">Old password is required.</div>
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" formControlName="newPassword" class="form-control" placeholder="Enter new password"/>
                                <small *ngIf="changePasswordForm.get('newPassword').invalid && 
                                    (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched)">
                                    <div *ngIf="changePasswordForm.get('newPassword').errors?.['required']">New password is required.</div>
                                    
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm New Password</label>
                                <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm new password"/>
                                <small *ngIf="changePasswordForm.get('confirmPassword').invalid && 
                                    (changePasswordForm.get('confirmPassword').dirty || changePasswordForm.get('confirmPassword').touched)">
                                    <div *ngIf="changePasswordForm.get('confirmPassword').errors?.['required']">Confirm password is required.</div>
                                    <div *ngIf="changePasswordForm.errors?.['mismatch']">Passwords must match.</div>
                                </small>
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
