<div id="add-course">
    <div class="container">
        <div id="add-course-row" class="row justify-content-center align-items-center">
            <div id="add-course-column" class="col-md-6">
                <div id="add-course-box" class="col-md-12">
                    <form [formGroup]="courseForm" (ngSubmit)="save()">
                        <h3 class="text-center text-info">Add Course</h3>
                        <div class="form-group">
                            <label for="courseName">Name</label>
                            <input type="text" formControlName="name" class="form-control" name="courseName" placeholder="Enter Course Name"/>
                            <div *ngIf="courseForm.get('name').invalid && (courseForm.get('name').dirty || courseForm.get('name').touched)" class="block p-error">
                                <div *ngIf="courseForm.get('name').errors?.['required']">Name is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="courseDescription">Description</label>
                            <textarea formControlName="description" class="form-control" name="courseDescription" rows="3" placeholder="Enter Course Description"></textarea>
                            <div *ngIf="courseForm.get('description').invalid && (courseForm.get('description').dirty || courseForm.get('description').touched)" class="block p-error">
                                <div *ngIf="courseForm.get('description').errors?.['required']">Description is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="teacher">Teacher</label>
                        <select class="form-control" id="teacher" formControlName="teacherId">
                             <option *ngFor="let teacher of teachers" [value]="teacher.teacherId">{{ teacher.user.username }}</option>
                        </select>
                          </div>
                        <div class="form-group">
                            <label for = "students">Students</label>
                            <select class="form-control" id="students" formControlName="studentIds">
                                <option *ngFor="let student of students" [value]="student.studentId">{{ student?.user?.username }}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" *ngIf="!isUpdate">Save Course</button>
                        <button type="submit" class="btn btn-success" *ngIf="isUpdate && courseForm.valid">Update Course</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
