body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 40px;
    color: #333;
}

.assignment-container {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px; /* spacing between assignments */
}

h2 {
    color: #000000;
}

h3 {
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

button {
    background-color:  #7a23d2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7a23d2;
}

button:disabled {
    background-color: #ccc;
    cursor: default;
}
