<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users;"
          [ngClass]="{
            'role-student': user.role === 'student',
            'role-teacher': user.role === 'teacher',
            'role-admin': user.role === 'admin'
          }">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button (click)="edit(user.id)">Edit</button>
          <button (click)="delete(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
    
  </table>
  