<ng-container *ngIf="role !== '' && role === 'admin'">
  <section class="intro">
    <div class="gradient-custom-1 h-100">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="table-responsive bg-white">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th scope="col">
                        <input placeholder="Filter by ID" [(ngModel)]="filterId" (keyup)="filterUsers()" />
                      </th>
                      <th scope="col">
                        <input placeholder="Filter by Name" [(ngModel)]="filterName" (keyup)="filterUsers()" />
                      </th>
                      <th scope="col">
                        <input placeholder="Filter by Role" [(ngModel)]="filterRole" (keyup)="filterUsers()" />
                      </th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of filteredUsers">
                      <td>{{ user.id }}</td>
                      <td>{{ user.username }}</td>
                      <td>{{ user.role }}</td>
                      <td>
                        <button class="action-button" (click)="edit(user.id)">Edit</button>
                        <button class="action-button" (click)="delete(user.id)">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
