.role-student {
    background-color: #357ab8; /* Couleur pour les étudiants */
  }
  
  .role-teacher {
    background-color: #ffebcd; /* Couleur pour les enseignants */
  }
  
  .role-admin {
    background-color: #ece1ff; /* Couleur pour les administrateurs */
  }
  .action-button {
    margin-right: 10px !important;
    border: none;
    background-color: #5c6bc0 !important;
    border-radius: 4px;
    color: white;
    padding: 5px 10px !important;
  }
  
  table {
    width: 100%;
  }